<link href="https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight&display=swap" rel="stylesheet" />

<div class="cover">
    <div class="content">
        <h1>{{content}}</h1>
    </div>
</div>

<ul class="tabs">
    <li>
        <h3><a
                onclick="dispatchEvent(new CustomEvent('navigatePackageTab', {composed:true, bubles: true, detail: {tab: 'description'}}))">Description<a>
        </h3>
    </li>
    <li>
        <h3><a
                onclick="dispatchEvent(new CustomEvent('navigatePackageTab', {composed:true, bubles: true, detail: {tab: 'info'}}))">Info<a>
        </h3>
    </li>
    <li>
        <h3><a
                onclick="dispatchEvent(new CustomEvent('navigatePackageTab', {composed:true, bubles: true, detail: {tab: 'dependencies'}}))">Dependecies<a>
        </h3>
    </li>
</ul>

<hr>

<slot name="app-content"></slot>