<link href="https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight&display=swap" rel="stylesheet" />

<div class="cover">
    <div class="content">
        <h1>{{content}}</h1>
    </div>
</div>

<ul class="tabs">
    <li>
        <h3 id="description">
            Description
        </h3>
    </li>
    <li>
        <h3 id="info">
            Info
        </h3>
    </li>
    <li>
        <h3 id="dependencies">
            Dependecies
        </h3>
    </li>
</ul>

<hr>

<slot name="app-content"></slot>