<link href="/assets/fontawesome/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight&display=swap" rel="stylesheet" />

<div class="main-wrapper">
    <button class="back-button" aria-label="Back to previous" id="back-button">
        <i class="fas fa-angle-left fa-3x"></i>
    </button>

    <div class="wrapper">
        <div class="header">
            <h1>My Package List</h1>
        </div>
    
        <ul class="install-queue" id="basket"></ul>
    </div>

    <button class="mobile-fab clip-button" aria-label="Checkout" id="mobile-fab">
        <i class="fas fa-shopping-cart fa-2x"></i>
    </button>
</div>