.thumbnail {
  cursor: pointer;
  user-select: none;
  animation: ease-out 300m;
  width: 6rem;
}
.card {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.8rem;
  position: relative;
  /* background: linear-gradient(180deg, ${this._getColor()} 0%, ${this._getColor()} 100%); */
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
  border-radius: 1rem;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
  text-align:center;
}

.app-name {
  position: relative;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 2.4rem;
  line-height: 4.5rem;
  color: #FFFFFF;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 10px 20px rgba(0, 0, 0, 0.04);
}

.watermark {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1rem;
  color: #FFFFFF;
  opacity: 0.13;
}

.right {
  position: absolute;
  font-size: 2.7rem;
  left: calc(50% + 8px);
  top: calc(50%);
}

.left {
  font-size: 2.7rem;
  position: absolute;
  left: calc(50% - 36px);
  top: calc(50% - 18px);
}

div.name{
  position: relative;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 0.8rem;
  line-height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #CACCDB;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.06);
}

:host(:hover) > div.thumbnail{
  transform: scale(1.1);
}
:host(:hover) > div.thumbnail > div.card {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}