article {
    position: relative;
    display: inline-block;
    max-height: 40vh;
    width: 80%;
    overflow-y: auto;
    padding: 2rem;
}

a:link, a:visited {
    text-decoration: none;
    color: #894EC6;
}

p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}