<div class="main-wrapper">
    <a href="/nav">
        <div class="logo">DEmI</div>
    </a>
    <div class="page-shell">
        <div class="dots1">
            <img src="/assets/svg/dots.svg" alt="design-dots" width="200" height="200">
        </div>
        <div class="dots2">
            <img src="/assets/svg/dots.svg" alt="design-dots" width="200" height="200">
        </div>

        <slot name="page-content"></slot>

        <footer>
            <p>&copy Copyright 2020 | DEmI</p>
        </footer>
    </div>
</div>