<div class="page-content">
    <h1>Welcome</h1>
    <h3>Pick your flavour.</h3>
    <ul>
        <li><a onclick="window.distroService.setDistro('brew')" id="brew"><img src="/assets/png/brew_logo.png"
                    alt="Brew logo" width="250" height="116"></a></li>
        <li><a onclick="window.distroService.setDistro('debian')"><img src="/assets/png/debian_logo.png"
                    alt="Debian logo" width="200" height="100"></a></li>
        <li><a onclick="window.distroService.setDistro('arch')"><img src="/assets/png/arch_logo.png"
                    alt="Archlinux logo" width="200" height="60"></a></li>
        <li><a onclick="window.distroService.setDistro('centos')"><img src="/assets/png/centos_logo.png"
                    alt="CentOS logo" width="200" height="67"></a></li>
    </ul>
</div>