.page-content {
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

a:link, a:visited {
    text-decoration: none;
}

h1, h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: lighter;
}

h1 {
    color: #fff;
    border-bottom: 2px solid #894EC6;
}

h3 {
    color: #894EC6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 80vw;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}

ul::-webkit-scrollbar {
    display: none;
}

li {
    cursor: pointer;
}

img {
    padding: 1.5rem;
}

@media (max-width: 720px) and (orientation: portrait) {

    ul {
        flex-direction: column;
    }

    img {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

}